@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Grifter';
  src: url('/fonts/grifterbold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* use this format to add custom fonts check the font directory in the public folder  */
@font-face {
  font-family: 'GoogleSans';
  src: url('/fonts/googleSans-Black.ttf') format('truetype');
  font-style: normal;
}

body {
  /* background: linear-gradient(90deg, #ffffff 10%, #fff5de 90%); */
}